@charset "utf-8";
/* CSS Document */

@font-face {font-family: sans-serif; src: url('Berthold Akzidenz Grotesk BE Regular.ttf'); }
	#header-1, #header-2, a, #footer, h2{
		font-family: sans-serif;
		color:#151515;
	}
	
@font-face {font-family: sans-serif; src: url('HelveticaNeueLTCom-Roman.ttf'); }
      P{
		  font-family: sans-serif;
		  color:#151515;
	  }

body{
	width:120%;
	background:#ffdd22;
}

#footer{
	position:fixed;
	height:40px;
	width:900px;
	padding:10px;
	margin: 10px;
	margin-left:50px;
	bottom:-20px;
	left:-50px;
	background:#ffdd22;
}

#header-1{
	height: 30px;
	padding: 10px;
	margin: 10px;
	font-size:80px;
	overflow:visible;
}

#header-2{
	height: 30px;
	padding: 10px;
	margin:30px;
	margin-left:7px;
	font-size:80px;
	overflow:visible;
}

li{
	display:inline;
	padding:5px;
}

a{
	text-decoration:none;
	margin:8px;
	font-size:30px;
}

a:hover{
	text-decoration:underline;
}

#container{
	margin:30px;
	position:relative;
	top:50px;	
	right:60px;
}

.column1{
	wdith:500px;
	margin:50px;
	bottom:50px;
	float:left;
	position:relative;
}

.fluid{
	height:auto;
	width:auto;
}

.des-column3, .des-column4 {
	wdith:30%;
	margin:0.5%;
	left:2.5%;
	position:relative;
	display:inline-block;
	overflow:hidden;
}

.des-column5, .des-column6, .des-column7 {
	wdith:30%;
	margin:1%;
	left:2.5%;
	position:relative;
	display:inline-block;
	overflow:hidden;
	background:#999;
}
	
p{
	width:400px;
}

.circular {
	width:200px;
	height:200px;
	border-radius: 150px;
	background:url(../image/DSC00719.jpg);
	background-repeat:no-reapt;
	background-size:cover;
}

.circular1 {
	width:200px;
	height:200px;
	border-radius: 150px;
	background:url(../image/1.jpg);
	background-repeat:no-reapt;
	background-size:cover;
	margin:1%;
}

.circular2 {
	width:200px;
	height:200px;
	border-radius: 150px;
	background:url(../image/2.jpg);
	background-repeat:no-reapt;
	background-size:cover;
	margin:1%;
}

.circular3 {
	width:200px;
	height:200px;
	border-radius: 150px;
	background:url(../image/3.jpg);
	background-repeat:no-reapt;
	background-size:cover;
	margin:1%;
}

.circular4 {
	width:200px;
	height:200px;
	border-radius: 150px;
	background:url(../image/4.jpg);
	background-repeat:no-reapt;
	background-size:cover;
	margin:1%;
}

.circular5 {
	width:200px;
	height:200px;
	border-radius: 150px;
	background:url(../image/5.jpg);
	background-repeat:no-reapt;
	background-size:cover;
	margin:1%;
}

.circular6 {
	width:200px;
	height:200px;
	border-radius: 150px;
	background:url(../image/6.jpg);
	background-repeat:no-reapt;
	background-size:cover;
	margin:1%;
}
